<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plex DB</title>
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('bower_components/datatables/media/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('style.css') }}">
</head>
<body>
<nav class="nav navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id='watched' class="active">
                    <a onclick="plexdb.loadDataTable('#watched_table', '/api/watched')"
                       href="#">Watched</a>
                </li>
                <li id='unwatched'>
                    <a onclick="plexdb.loadDataTable('#unwatched_table', '/api/unwatched')"
                       href="#">Unwatched</a>
                </li>
                <li id="added_episodes">
                    <a onclick="plexdb.loadDataTable('#added_episodes_table', '/api/added_episodes')"
                       href="#">Recently Added</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="data">
    <div id="watched_data" class="tabledata">
        <table id="watched_table" class="table table-condensed">
            <thead>
            <tr>
                <th class="date">Last Viewed</th>
                <th>Account</th>
                <th class="title">Title</th>
                <th class="views">Views</th>
                <th class="percent">Percentage</th>
            </tr>
            </thead>
        </table>
    </div>

    <div id="unwatched_data" class="tabledata hidden">
        <table id="unwatched_table" class="table table-condensed">
            <thead>
            <tr>
                <th class="date">Added</th>
                <th class="title">Title</th>
                <th>Type</th>
                <th class="xofy">Count</th>
            </tr>
            </thead>
        </table>
    </div>

    <div id="added_episodes_data" class="tabledata hidden">
        <table id="added_episodes_table" class="table table-condensed">
            <thead>
            <tr>
                <th class="date">Added</th>
                <th class="title">TV Show</th>
                <th>Title</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<footer>
    <script type="text/javascript"
            src="{{ static_url('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('bower_components/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('bower_components/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('plexdb.js') }}"></script>
    <script>
        plexdb.initDataTable(
                '#watched_table',
                '/api/watched',
                [
                    {data: 'last_viewed_at'},
                    {data: 'name'},
                    {data: 'title'},
                    {data: 'view_count'},
                    {data: 'view_offset'}
                ]
        );
        plexdb.initDataTable(
                '#unwatched_table',
                '/api/empty',
                [{data: 'added_at'}, {data: 'parent_name'}, {data: 'show_type'}, {data: 'count'}]
                [[0, 'desc']]
        );

        plexdb.initDataTable(
            '#added_episodes_table',
            '/api/added_episodes',
            [{data: 'added_at'}, {data: 'parent_name'}, {data: 'title'}],
            [[0, 'desc']]
        );
    </script>
</footer>
</body>
</html>