{% extends "index.html" %}
{% block active %}requests{% end %}

{% block body %}
<div id="requests">
    <div id="search_box">
        <label for="search">Search:</label>
        <div class="input-group">
            <input id="search" name="search" type="text" class="form-control">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
    </div>
    <div id="output"></div>
</div>
{% end %}

{% block footer %}
<script type="text/javascript" src={{ static_url("requests.js") }}></script>
{% end %}